.contenedorPrincipalCard{
  color: #12465B;
  
}
.card2{
  width: 700px;
  min-height: 100px;
  background-color: #F5F6F7;
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.15);
} 